Before you turn this problem in, make sure everything runs as expected.

1. When connecting to the database, replace *yasiro01* or *username* with **your** username
1. Delete the `# YOUR CODE HERE` or `YOUR ANSWER HERE` line and replace it with your specific answer
1. Delete `raise NotImplementedError()`, if present
1. Include `%%sql` cell magic directive at the beginning of each cell with a SQL statement
1. **Restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart)
1. **Run all cells** (in the menubar, select Cell$\rightarrow$Run All)
1. Add your name and collaborators below:

In [57]:
NAME = "Thandeka Chaka"
COLLABORATORS = ""

---

# Creating a registration database

In [2]:
import warnings
warnings.filterwarnings('ignore')

%load_ext sql

In [3]:
%%sql

postgresql://chakth01:@localhost/chakth01

'Connected: chakth01@chakth01'

## Table student

* Create a **student** table
    * make sure you create a constraint for a primary key.

* Use the LDS in the DataModeling notebook for all the tasks in this assignment.

* You are only required to model the attributes of the student entity and not the relationships.

In [4]:
%%sql

DROP TABLE IF EXISTS student;

CREATE TABLE student (
    username VARCHAR(8),
    name_first VARCHAR(20),
    name_last VARCHAR(20),
    date_birth DATE,
    date_start DATE,
    date_grad DATE,
    advisor TEXT,
    address TEXT,
    
    CONSTRAINT sid_key primary key(username)
);

 * postgresql://chakth01:***@localhost/chakth01
Done.
Done.

[]

## Table course

* Next, create the **course** table
    * make sure you create a constraint for a primary key
    * You are only required to model the attributes of the **course** entity and not the relationships

In [5]:
%%sql
DROP TABLE IF EXISTS course;

CREATE TABLE course (
    dept VARCHAR(30),
    number INT,
    section INT,
    title VARCHAR(60),
    credits INT,
    location TEXT,
    date_start DATE,
    date_end DATE,
    enrolment_limit INT,
    
    CONSTRAINT cid_key primary key(dept,number,section,date_start)
);

 * postgresql://chakth01:***@localhost/chakth01
Done.
Done.

[]

In [11]:
%%sql
SELECT *
FROM course;

 * postgresql://chakth01:***@localhost/chakth01
5 rows affected.

[('History', 2, 24, 'American History', 4, 'Main 321', datetime.date(2020, 1, 18), datetime.date(2020, 4, 27), 18),
 ('Foreign Languages', 4, 12, 'Introduction to French', 2, 'Valders 421', datetime.date(2020, 2, 9), datetime.date(2020, 5, 17), 20),
 ('Social work', 13, 18, 'Sociology 101', 3, 'Olin 219', datetime.date(2020, 3, 18), datetime.date(2020, 4, 8), 15),
 ('Science', 5, 10, 'Human Anatomy', 2, 'Koren 312', datetime.date(2020, 1, 18), datetime.date(2020, 3, 25), 23),
 ('Music', 9, 19, 'Classical Jazz', 4, 'CFA', datetime.date(2020, 1, 18), datetime.date(2020, 4, 27), 15)]

## Add data to the database

* Finally populate your database with some insert statements

* Create at least five *course* records

* Create and three *student* records

In [8]:
%%sql 

INSERT INTO course ( dept , number, section , title , credits , location , date_start ,  date_end , enrolment_limit ) values('History', 2 , 24 , 'American History' , 4 , 'Main 321' , '2020-01-18' , '2020-04-27' , 18 );

INSERT INTO course ( dept , number, section , title , credits , location , date_start ,  date_end , enrolment_limit ) values('Foreign Languages', 4 , 12 , 'Introduction to French' , 2 , 'Valders 421' , '2020-02-09' , '2020-05-17' , 20 );

INSERT INTO course ( dept , number, section , title , credits , location , date_start ,  date_end , enrolment_limit ) values('Social work', 13 , 18 , 'Sociology 101' , 3 , 'Olin 219' , '2020-03-18' , '2020-04-08' , 15 );

INSERT INTO course ( dept , number, section , title , credits , location , date_start ,  date_end , enrolment_limit ) values('Science', 5 , 10 , 'Human Anatomy' , 2 , 'Koren 312' , '2020-01-18' , '2020-03-25' , 23 );

INSERT INTO course ( dept , number, section , title , credits , location , date_start ,  date_end , enrolment_limit ) values('Music', 9 , 19 , 'Classical Jazz' , 4 , 'CFA' , '2020-01-18' , '2020-04-27' , 15 );

 * postgresql://chakth01:***@localhost/chakth01
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [9]:
%%sql

INSERT INTO student (username, name_first, name_last , date_birth , date_start , date_grad , advisor , address ) values('chatha01', 'Thandeka', 'Chaka' , '1999-05-29' , '2019-08-21' , '2023-05-31', 'L Zaring' , 'Iowa' );

INSERT INTO student (username, name_first, name_last , date_birth , date_start , date_grad , advisor , address ) values('dzansa01', 'Samantha', 'Dzangare' , '1998-06-17' , '2017-08-19' , '2021-05-31', 'C Atwell' , 'Texas' );

INSERT INTO student (username, name_first, name_last , date_birth , date_start , date_grad , advisor , address ) values('chibta01', 'Tariro', 'Chibodo' , '1995-01-19' , '2018-08-30' , '2022-05-31', 'J Storer' , 'Huston' );

INSERT INTO student (username, name_first, name_last , date_birth , date_start , date_grad , advisor , address ) values('madzru03', 'Rumbidzai', 'Madzima' , '1997-10-13' , '2016-08-11' , '2020-05-31', 'R Fey' , 'California' );

 * postgresql://chakth01:***@localhost/chakth01
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [10]:
%%sql

SELECT *
FROM student;

 * postgresql://chakth01:***@localhost/chakth01
4 rows affected.

[('chatha01', 'Thandeka', 'Chaka', datetime.date(1999, 5, 29), datetime.date(2019, 8, 21), datetime.date(2023, 5, 31), 'L Zaring', 'Iowa'),
 ('dzansa01', 'Samantha', 'Dzangare', datetime.date(1998, 6, 17), datetime.date(2017, 8, 19), datetime.date(2021, 5, 31), 'C Atwell', 'Texas'),
 ('chibta01', 'Tariro', 'Chibodo', datetime.date(1995, 1, 19), datetime.date(2018, 8, 30), datetime.date(2022, 5, 31), 'J Storer', 'Huston'),
 ('madzru03', 'Rumbidzai', 'Madzima', datetime.date(1997, 10, 13), datetime.date(2016, 8, 11), datetime.date(2020, 5, 31), 'R Fey', 'California')]

## Violating the constraint

* Try to add a *student* record with the username identical to a student you have previously added
    * This **should** cause an error

In [65]:
%%sql

INSERT INTO student  values('madzru03', 'Rukudzo', 'Madzakira' , '1998-11-14' , '2017-08-21' , '2021-05-31', 'S Fobertsone' , 'Chicago' );

 * postgresql://chakth01:***@localhost/chakth01

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "sid_key"
DETAIL:  Key (username)=(madzru03) already exists.

[SQL: INSERT INTO student  values('madzru03', 'Rukudzo', 'Madzakira' , '1998-11-14' , '2017-08-21' , '2021-05-31', 'S Fobertsone' , 'Chicago' );]
(Background on this error at: http://sqlalche.me/e/gkpj)