## CONTENT BASED FILTERING RECOMMENDATION SYSTEM

### EUCLIDEAN DISTANCE GENERATOR

The goal for this notebook is to create a Euclidean generator for the Candidate generator to be used in the recommendation system. It is building an effective function that achieves the target

#### LOAD THE LIBRARIES FOR MODEL

In [15]:
from __future__ import print_function
import pandas as pd
import re
import os
import time
import matplotlib.pyplot as plt
import numpy as np
import collections
from mpl_toolkits.mplot3d import Axes3D
from IPython import display
from matplotlib import pyplot as plt
import sklearn
import sklearn.manifold
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
tf.logging.set_verbosity(tf.logging.ERROR)
pd.options.display.max_columns = 80

#### LOADING THE DATA AND DATA PRELIMINARY CLEANING

In [16]:
Moviesdf = pd.read_csv ("imdb_processed.csv")
Moviesdf.head()

,Name,Year,kind,genre,imdb_rating,vote,country,language,cast,director,composer,writer,runtime
0,Dinosaur Planet,2003,tv mini series,"['Documentary', 'Animation', 'Family']",7.7,474.0,['United States'],['English'],"['Christian Slater', 'Scott Sampson']",NaN,NaN,"['Mike Carrol', 'Mike Carroll', 'Georgann Kane']",50.0
1,Get Up and Dance!,1994,video movie,['Family'],8.1,18.0,['United States'],['English'],"['Paula Abdul', 'Aurorah Allain', 'Bill Bohl',...",['Steve Purcell'],NaN,NaN,83.0
2,8 Man,1992,movie,"['Action', 'Sci-Fi']",5.5,93.0,['Japan'],['Japanese'],"['Kai Shishido', 'Etsushi Takahashi', 'Sachiko...",['Yasuhiro Horiuchi'],['Carole King'],"['Kazumasa Hirai', 'Jirô Kuwata', 'Junko Suzuki']",NaN
3,What the #$*! Do We (K)now!?,2004,movie,"['Documentary', 'Comedy', 'Drama', 'Fantasy', ...",5.3,13432.0,['United States'],"['English', 'German', 'Spanish']","['Marlee Matlin', 'Elaine Hendrix', 'John Ross...","['William Arntz', 'Betsy Chasse', 'Mark Vicente']",['Christopher Franke'],"['William Arntz', 'Betsy Chasse', 'Matthew Hof...",60.0
4,Class of Nuke 'Em High Part II: Subhumanoid Me...,1991,movie,"['Comedy', 'Horror', 'Sci-Fi']",4.5,2177.0,['United States'],['English'],"['Brick Bronsky', 'Lisa Gaye', 'Leesa Rowland'...",['Eric Louzil'],['Bob Mithoff'],"['Lloyd Kaufman', 'Carl Morano', 'Matt Unger']",96.0

In [17]:
## Output of the number of rows and columns respectively.
Moviesdf.shape

(8451, 13)

In [18]:
## The information on the dataset
Moviesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8451 entries, 0 to 8450
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         8451 non-null   object
 1   Year         8451 non-null   int64
 2   kind         8451 non-null   object
 3   genre        8384 non-null   object
 4   imdb_rating  8135 non-null   float64
 5   vote         8135 non-null   float64
 6   country      8152 non-null   object
 7   language     8052 non-null   object
 8   cast         8280 non-null   object
 9   director     7140 non-null   object
 10  composer     5722 non-null   object
 11  writer       7204 non-null   object
 12  runtime      6798 non-null   float64
dtypes: float64(3), int64(1), object(9)
memory usage: 858.4+ KB

In [19]:
## Missing information within the dataframe
Moviesdf.isnull().sum()

Name              0
Year              0
kind              0
genre            67
imdb_rating     316
vote            316
country         299
language        399
cast            171
director       1311
composer       2729
writer         1247
runtime        1653
dtype: int64

In [20]:
# Drop rows with missing values
Moviesdf = Moviesdf.dropna()
Moviesdf.isnull().sum()

Name           0
Year           0
kind           0
genre          0
imdb_rating    0
vote           0
country        0
language       0
cast           0
director       0
composer       0
writer         0
runtime        0
dtype: int64

In [21]:
Moviesdf.shape

(4133, 13)

## CANDIDATE GENERATION

In [22]:
## Libaries necessary for the function 
from scipy.spatial.distance import euclidean
from sklearn.preprocessing import StandardScaler
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.preprocessing import StandardScaler

In [23]:
### Helping functions for model 
## Splits a DataFrame into training and test sets
def split_dataframe(df, holdout_fraction=0.2):
    total_size = len(df)
    test_size = int(total_size * holdout_fraction)
    
    # Generate a random boolean array to select rows for the test set
    test_indices = np.random.choice(total_size, size=test_size, replace=False)
    
    # Split the DataFrame into training and test sets based on the selected indices
    test = df.iloc[test_indices]
    train = df.drop(df.index[test_indices])
    
    return train, test

In [24]:
## the libraries necessary for the euclidean distance calculation 
# Select relevant columns for similarity calculation (e.g., movie features)
selected_columns = ['kind', 'genre', 'country','language']  # Replace with actual feature names
features = Moviesdf[selected_columns]

In [25]:
# Split the data into training and test sets
training_data, test_data = split_dataframe(Moviesdf, holdout_fraction=0.2)

In [26]:
def euclidean_similarity_generator(training_data, features, test_data, k=5):
    # Select features for similarity calculation
    training_features = training_data[features]
    test_features = test_data[features]
    print(test_features.shape)
    # Combine categorical features into a single text column
    training_data['combined_features'] = training_features.apply(lambda x: ' '.join(x), axis=1)
    test_data['combined_features'] = test_features.apply(lambda x: ' '.join(x), axis=1)
    
    # TF-IDF encoding
    vectorizer = TfidfVectorizer()
    training_matrix = vectorizer.fit_transform(training_data['combined_features'])
    test_matrix = vectorizer.transform(test_data['combined_features'])
    
    # Standardize the encoded features
    scaler = StandardScaler(with_mean=False)
    training_features = scaler.fit_transform(training_matrix)
    test_features = scaler.transform(test_matrix)
    print(training_features.shape)
    print(test_features.shape)
  
    # Calculate pairwise distances between training and test features
    distances = []
    for i in range(test_features.shape[0]):
        test_movie = test_features[i]
        print(test_movie)
        movie_distances = []
        for j in range(training_features.shape[0]):
            training_movie = training_features[j]
            print(training_movie)
            break
            distance = euclidean(test_movie, training_movie)
            movie_distances.append((distance, j))
        break
        distances.append(movie_distances)
    
    # Sort distances and retrieve indices of most similar movies
    similar_movies_indices = []
    for movie_distances in distances:
        movie_distances.sort()
        indices = [index for _, index in movie_distances[:k]]
        similar_movies_indices.append(indices)
    
    # Get similar movies' information from training data
    similar_movies = [training_data.iloc[indices] for indices in similar_movies_indices]
    
    return similar_movies

In [27]:
# Generate similar movies for test data
# Print the similar movies for each test sample
similar_movies = euclidean_similarity_generator(training_data, selected_columns, test_data, k=5)
#for i, similar_movie_set in enumerate(similar_movies):
    #print(f"Similar movies for test sample {i + 1}:")
    #print(similar_movie_set)
    #print()

(826, 4)

/tmp/ipykernel_2771071/2192058331.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data['combined_features'] = test_features.apply(lambda x: ' '.join(x), axis=1)

(3307, 249)
(826, 249)
  (0, 147)	2.088466750180824
  (0, 134)	6.888511502947089
  (0, 119)	4.764799512537483
  (0, 93)	4.764799512537483
  (0, 55)	1.396605824170687
  (0, 34)	5.010390106668558
  (0, 2)	2.0275745684814726
  (0, 62)	1.0870544352684415
  (0, 211)	0.9623720398494304
  (0, 215)	11.833890552459028
  (0, 184)	16.287064205774314
  (0, 116)	1.5992993752425746
  (0, 234)	1.8702167396476626
  (0, 224)	1.4249701651632234
  (0, 44)	1.6677090291488188
  (0, 41)	1.1515963616699496
  (0, 2)	1.5464573024290815
  (0, 147)	1.5929005556211582
  (0, 237)	2.0614969967069974